<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.bit.kit.mapper.BoardMapper">
 

 
<resultMap id="boardList" type="edu.bit.kit.vo.BoardVO">
      <result column="BOARD_ID" property="brdId" />
      <result column="BOARD_NUMBER" property="brdNumber" />
      <result column="CO_CONTENT" property="brdContent" />
      <result column="CO_DATE" property="brdDate" />
      <result column="CO_HIT" property="brdHit" />
      <result column="CO_TITLE" property="brdTitle" />
      <result column="USER_ID" property="brdUserid" /> 
   </resultMap>

   <resultMap id="userList" type="edu.bit.kit.vo.UserVO">
      <result column="user_id" property="userId" />
      <result column="co_number" property="userNumber" />
      <result column="co_password" property="userPassword" />
      <result column="co_name" property="userName" />
      <result column="co_phone" property="userPhone" />
      <result column="co_birth" property="userBirth" />
      <result column="co_email" property="userEmail" />
      <result column="co_gender" property="userGender" />
      <result column="co_enabled" property="userEnabled" />
      <result column="co_joindate" property="userJoinDate" />
      <result column="co_logintime" property="userLoginTime" />
      <result column="ADDRESS_1" property="userAddress1" />
	  <result column="ADDRESS_2" property="userAddress2" />
	  <result column="ADDRESS_3" property="userAddress3" />
      <result column="co_account" property="userAccount" />
   </resultMap>
   
    
   <resultMap id="pointList" type="edu.bit.kit.vo.PointVO">
      <result column="USER_ID" property="userId" />
      <result column="CO_POINT" property="point" />
   </resultMap>
   
   <resultMap id="couponList" type="edu.bit.kit.vo.CouponVO">
      <result column="USER_ID" property="userId" />
      <result column="COUPON_ID" property="cpnId" />
      <result column="CO_NAME" property="cpnName" />
      <result column="CO_EXPIRY_DATE" property="cpnExpiryDate" />
      <result column="CO_DATE" property="cpnDate" />
      <result column="CO_RATE" property="cpnRate" />
      <result column="CO_PRICE" property="cpnPrice" />
   </resultMap>
   
   <resultMap id="deliveryList" type="edu.bit.kit.vo.DeliveryVO">
      <result column="DELIVERY_ID" property="delvId" />
      <result column="ORDER_NUMBER" property="ordNumber" />
      <result column="CO_NAME" property="delvName" />
      <result column="CO_DATE" property="delvDate" />
      <result column="CO_DELIVERY_NUMBER" property="delvNumber" />
      <result column="CO_STATE" property="delvState" />
   </resultMap>
   
   
   <resultMap  id="authList" type="edu.bit.kit.vo.AuthVO" >
		<result column="AUTHORITIES_ID" property="authId" />
		<result column="CO_AUTHORITY" property="authAuthority" />
		<result column="CO_ENABLED" property="authEabled" />
		<result column="USER_ID" property="userId" />
	</resultMap>


   <select id="getEventList" resultMap="boardList">
      SELECT * FROM HK_BRD WHERE BOARD_NUMBER = 2
   </select>  
   
   <select id="getUser" resultMap="userList">
      SELECT * FROM HK_USER WHERE USER_ID = #{userId}
   </select>  
   
   <select id="getPoint" resultMap="pointList">
      SELECT * FROM HK_POINT WHERE USER_ID = #{userId}
   </select>  
   
   
   <select id="getCouponCount" resultType="int">
   	SELECT COUNT(COUPON_ID) FROM HK_CPN WHERE USER_ID = #{userId}
   </select>
   
   <select id="getExpCouponCount" resultType="int">
   <![CDATA[
   	SELECT COUNT(COUPON_ID) FROM HK_CPN WHERE USER_ID = #{userId} AND TO_DATE(co_expiry_date) - SYSDATE  < 14
   ]]>
   </select>
   
   
   
   <select id="getMemberAuth" resultType="string">
   	SELECT at.CO_AUTHORITY FROM HK_AUTH at, HK_USER us  WHERE at.USER_ID = us.USER_ID AND us.USER_ID = #{userId}
   </select>
   
   
   <select id="getDeliveryList" resultMap="deliveryList">
   	SELECT * FROM HK_DELV WHERE ORDER_NUMBER =
   (SELECT ord.ORDER_NUMBER FROM  HK_ORD ord,  HK_USER us WHERE ord.USER_ID 
     = us.USER_ID AND us.USER_ID= #{userId})
   </select>
   
   
    <update id="updateAccount">
   <![CDATA[
       UPDATE HK_USER SET CO_ACCOUNT = #{userAccount} WHERE USER_ID = #{userId}   
       ]]>
   </update>  
   
   
   <select id="getCoupon" resultMap="couponList">
   <![CDATA[
      SELECT * FROM HK_CPN WHERE USER_ID = #{userId}
      ]]>
   </select>
   
    <insert id="signUpInsert">
   <![CDATA[
	INSERT INTO HK_USER (USER_ID, CO_NUMBER, CO_PASSWORD, CO_NAME, CO_PHONE, CO_EMAIL,
						 CO_BIRTH, CO_GENDER, CO_ENABLED, CO_JOINDATE, CO_LOGINTIME, ADDRESS_1,
						ADDRESS_2, ADDRESS_3)
	VALUES (#{userId}, HK_USER_SEQ.NEXTVAL, #{userPassword}, #{userName}, #{userPhone}, #{userEmail},
			#{userBirth}, #{userGender}, 1, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, #{userAddress1},
		    #{userAddress2}, #{userAddress3})
   ]]>
   </insert>  
   
   
     <insert id="signUpAuth">
   <![CDATA[
	INSERT INTO hk_auth (AUTHORITIES_ID, CO_AUTHORITY, CO_ENABLED, USER_ID)
	VALUES (HK_AUTH_SEQ.NEXTVAL, 'ROLE_MEMBER', '1', #{userId})
   ]]>
   </insert>  
   
   
     <insert id="signUpPoint">
   <![CDATA[
	INSERT INTO HK_POINT (USER_ID, CO_POINT)
	VALUES (#{userId}, 1000)
   ]]>
   </insert>  
   
   
   <select id="idChk" resultType="string">
	SELECT CASE WHEN EXISTS (SELECT 1 FROM HK_USER WHERE USER_ID=#{userId})
	THEN 'exist'
	ELSE 'usable' END AS EXIST FROM DUAL 
        
   </select>
   

    <select id="passChk" resultType="int">
	SELECT COUNT(*) FROM HK_USER 
	WHERE USER_ID = #{userId}
	AND CO_PASSWORD = #{userPassword}
        
   </select>
   
   
     <update id="updateUser">
   <![CDATA[
	UPDATE HK_USER 
	SET  CO_PASSWORD = #{userPassword}, CO_NAME = #{userName}, CO_PHONE =#{userPhone}, CO_EMAIL = #{userEmail},
    	 CO_BIRTH = #{userBirth}, CO_GENDER = #{userGender}, CO_LOGINTIME = CURRENT_TIMESTAMP,
    	 ADDRESS_1 = #{userAddress1}, ADDRESS_2 = #{userAddress2}, ADDRESS_3 = #{userAddress3}
	WHERE user_id = #{userId}
   ]]>
   </update> 
   
   
      <delete id="deleteUser">
   <![CDATA[
      DELETE FROM HK_USER
		WHERE user_id = #{userId}
   ]]>
   </delete>  
   
   
   
</mapper>