<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.bit.kit.mapper.OrderMapper">

	
	<!-- 쿠폰 -->
	<!-- 보유 쿠폰 조회 -->
	
	<resultMap type="edu.bit.kit.vo.CouponVO" id="coupon">
		<result column="COUPON_ID" property="cpnId" />
		<result column="USER_ID" property="userId" />
		<result column="CO_NAME" property="cpnName" />
		<result column="CO_EXPIRY_DATE" property="cpnExpiryDate" />
		<result column="CO_DATE" property="cpnDate" />
		<result column="CO_RATE" property="cpnRate" />
		<result column="CO_PRICE" property="cpnPrice" />
		<result column="cpn" property="cpn" />
	</resultMap>
	
	<select id="getListCoupon" resultMap="coupon">
<!-- <![CDATA[
select COUPON_ID,USER_ID,CO_NAME,CO_EXPIRY_DATE,CO_DATE,CO_RATE,CO_PRICE from HK_CPN p where p.USER_ID = #{userId}
]]> -->
<![CDATA[
SELECT COUPON_ID,USER_ID,CO_NAME,CO_EXPIRY_DATE,CO_DATE,
 CASE 
  WHEN CO_RATE != '0' THEN CO_RATE
  WHEN CO_PRICE != '0' THEN CO_PRICE
  END as cpn
  FROM HK_CPN WHERE USER_ID = #{userId}
]]>

	</select>
	
		<select id="selectCoupon" resultMap="coupon">
<!-- <![CDATA[
select COUPON_ID,USER_ID,CO_NAME,CO_EXPIRY_DATE,CO_DATE,CO_RATE,CO_PRICE from HK_CPN p where p.USER_ID = #{userId}
]]> -->
<![CDATA[
SELECT COUPON_ID,USER_ID,CO_NAME,CO_EXPIRY_DATE,CO_DATE,
 CASE 
  WHEN CO_RATE != '0' THEN CO_RATE
  WHEN CO_PRICE != '0' THEN CO_PRICE
  END as cpn
  FROM HK_CPN WHERE COUPON_ID = #{couponChoice}
]]>

	</select>
	
	<!-- 포인트 조회 -->
	<resultMap type="edu.bit.kit.vo.PointVO" id="point">
		<!-- <result column="ORDER_NUMBER" property="orderNumber" /> -->
		<result column="USER_ID" property="userId" />
		<result column="CO_POINT" property="point" />
	</resultMap>
	
	<select id="pointList" resultMap="point">
	<![CDATA[
select USER_ID, CO_POINT from HK_POINT where USER_ID = #{userId}
]]>
	</select>
	
	<!-- 주문 유저 조회 -->
	<resultMap type="edu.bit.kit.vo.UserVO" id="userMap">		
		<result column="USER_ID" property="userId" />
		<result column="CO_NUMBER" property="userNumber" />
		<result column="CO_PASSWORD" property="userPassword" />
		<result column="CO_NAME" property="userName" />
		<result column="CO_PHONE" property="userPhone" />
		<result column="CO_EMAIL" property="userEmail" />
		<result column="CO_BIRTH" property="userBirth" />
		<result column="CO_GENDER" property="userGender" />
		<result column="CO_ENABLED" property="userEnabled" />
		<result column="CO_JOINDATE" property="userJoinDate" />
		<result column="CO_LOGINTIME" property="userLoginTime" />
		<result column="ADDRESS_1" property="userAddress1" />
		<result column="ADDRESS_2" property="userAddress2" />
		<result column="ADDRESS_3" property="userAddress3" />
		<result column="CO_ACCOUNT" property="userAccount" />
		 
	</resultMap>
	<select id="userInfo" resultMap="userMap">
	<![CDATA[
select * from HK_USER  where USER_ID = #{userId}
]]>
	</select>
	<!-- 주문성공 데이터 삽입-->
	<resultMap type="edu.bit.kit.vo.OrderVO" id="orderComplete">		
		<result column="ORDER_NUMBER" property="ordNumber" />
		<result column="USER_ID" property="userId" />
		<result column="CO_RECEIPIENT" property="receiverName" />
		<result column="CO_PHONE" property="receiverTel" />
		<result column="ADDRESS_1" property="receiverZipcode" />
		<result column="ADDRESS_2" property="receiverAddress1" />
		<result column="ADDRESS_3" property="receiverAddress2" />
		<result column="TOTAL_PRICE" property="sumMoney" />
		<result column="CPN_DC" property="couponDiscount" />
		<result column="POINT_DC" property="pointDiscount" />
		<result column="TOTAL_PAY" property="totalPay" />
		<result column="CO_DATE" property="ordDate" />
		<result column="COUPON_ID" property="cpnId" />
		<result column="ORD_TITLE" property="ordTitle" />
		<result column="CO_PAYTYPE" property="payChoice"/>
	</resultMap>
	<insert id="orderSuccess">
	<![CDATA[
INSERT INTO HK_ORD
        (
            ORDER_NUMBER,USER_ID,CO_RECEIPIENT,CO_PHONE,ADDRESS_1,ADDRESS_2,ADDRESS_3,TOTAL_PRICE,CPN_DC,POINT_DC,TOTAL_PAY,CO_DATE,COUPON_ID,ORD_TITLE
        )
        VALUES
        (
            #{ordNumber},#{userId},#{receiverName},#{receiverTel},#{receiverZipcode},#{receiverAddress1},#{receiverAddress2},
            #{sumMoney},#{couponDiscount},#{pointDiscount},#{totalPay},#{ordDate},#{cpnId},#{ordTitle}
        )
]]>
	</insert>
	<!-- 장바구니 비우기 -->
	<delete id="cartDelete">
   <![CDATA[
     DELETE HK_CART WHERE USER_ID = #{userId}
   ]]>
   </delete>  
	<!-- 적용된 쿠폰 삭제 -->
	<delete id="couponDelete">
   <![CDATA[
   DELETE HK_CPN WHERE COUPON_ID = #{cpnId}
   ]]>
   </delete>
   <!-- 적용된 포인트 차감 -->
   <update id="pointDeducted">
   <![CDATA[
   UPDATE HK_POINT SET CO_POINT = (CO_POINT - #{pointDiscount}) WHERE USER_ID = #{userId}
   ]]>
   </update>
   <!-- 주문 상세 삽입 -->
   <insert id="orderDetail">
   insert into ord_det(ORDER_NUMBER, PRODUCT_NUMBER, CO_AMOUNT, DET_NUMBER)
     select #{ordNumber}, PRODUCT_NUMBER, CO_AMOUNT, DET_NUMBER_seq.nextval
         from hk_cart  WHERE USER_ID = #{userId}
         </insert>
   <!-- 페이 인포 삽입 -->
    <insert id="payInfo">
   <![CDATA[
   INSERT INTO HK_PAY (PAYMENT_ID, ORDER_NUMBER, CO_RESULT, CO_DATE, CO_PAYTYPE)
   VALUES ( PAYMENT_ID.NEXTVAL, #{ordNumber}, '결제완료', CURRENT_TIMESTAMP, #{payChoice} )
   ]]>
   </insert>
</mapper>