/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');



li a{
	padding-bottom : 0px;
	margin-bottom : 0px;
}

.list-group-item a{
	color :#808080;
	font-weight : bold;
	font-size : 0.9em;
	padding: 1px 1px;
}


.text-break a {
	 color: black;
   text-decoration: none;
}


.text-break a:hover {
	 color: black;
}


.text-break a:link {
  color : black;
}

.text-break a:visited {
  color : black;
}

.text-break a:active {
  color : black;
}



.thead-simpletable {
	background: linear-gradient(to right, #ccff33, #86b300);
		
	line-height: 50px;
	
	
}


.underline {
   text-decoration: none;
   border-bottom: 4px solid black;
}

.thead-no{
	background: white;
	line-height: 40px;
	border-bottom: 2px solid black;
}




.text-nowrap  a {
	 color: black;
   text-decoration: none;
}


.text-nowrap  a:hover {
	 color: black;
}


.text-nowrap  a:link {
  color : black;
}

.text-nowrap a:visited {
  color : black;
}

.text-nowrap  a:active {
  color : black;
}


.card-footer h6{
	font-size : 0.9em;
	color : #808080
	
}

kbd.blue{
    padding: 3px 5px;
    font-size: 90%;
    color: #fff;
    background-color: #3385ff;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
}

input[type="checkbox"]+label {
    display: block;
    width: 270px;
    height: 24px;
    background: url('../img/check.png') no-repeat 0 0px / contain;
}

input[type='checkbox']:checked+label {
    background: url('../img/checked.png') no-repeat 0 0px / contain;
}

input[type="checkbox"] {
    display: none;
}

label.space{
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

