<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{css/style.css}">
<link rel="stylesheet" th:href="@{css/myOrder.css}">
<link rel="stylesheet" th:href="@{css/all.css}">
<link rel="stylesheet" th:href="@{css/bootstrap-select.min.css}">
<link rel="stylesheet" th:href="@{css/main.css}">
<!-- 합쳐지고 최소화된 최신 CSS -->


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script th:src="@{js/jquery-3.2.1.slim.min.js}"></script>
<script th:src="@{popper/popper.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{js/all.js}"></script>
<script th:src="@{js/bootstrap-select.min.js}"></script>
<script th:src="@{js/defaults-ko-KR.min.js}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>


<title>Kit.</title>


<!-- 상단 로그인 회원가입 바 -->
</head>
	<div class="navbar navbar-expand-sm justify-content-end" id="nav1">
		<div class="navbar-nav" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
					<!--  로그인한 상태라면 이름과, logout 버튼 출력      -->
			
					<li class="nav-item" th:if="${#authorization.expr('isAuthenticated()')}">
					<a class="nav-link" th:text="${#authentication.name}"  id="navtop1">사용자</a></li>
				
					<li class="nav-item" th:if="${#authorization.expr('isAuthenticated()')}">
					<a class="nav-link" th:href="@{/logout} "  id="navtop1">로그아웃</a></li>
				
					<!--  로그인한 상태가 아니라면 login 버튼 출력  -->
					
					<li class="nav-item" th:unless="${#authorization.expr('isAuthenticated()')}">
					<a class="nav-link" th:href="@{/login}"  id="navtop1">로그인</a></li>
				
					<li class="nav-item" th:unless="${#authorization.expr('isAuthenticated()')}">
				 	<a class="nav-link" href="signup"  id="navtop1">회원가입</a></li>
			</ul>
		</div>
	</div>



<!-- 상단 로고 메뉴 바 -->
	<!-- Navigation -->
	<nav
		class="navbar navbar-expand-lg justify-content-center" id="nav2">
		<a class="navbar-brand" href="#"><img th:src="@{img/Kit2_size.png}"
			class="d-inline-block align-top" alt=""></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav ml-auto" id="ul1">
			<li class="nav-item"><a class="btn1 nav-link" href="">Kit.소개</a></li>
			<li class="nav-item"><a class="btn1 nav-link" href="">Kit.메뉴</a></li>
			<li class="nav-item"><a class="btn1 nav-link" href="">리뷰</a></li>
			<li class="nav-item"><a class="btn1 nav-link" href="">이벤트</a></li>
			<li class="nav-item"><a class="btn1 nav-link" href="">MyKit.</a></li>
		</ul>
		<ul class="navbar-nav ml-auto mr-5" >
			<li class="nav-item fa-2x" OnClick="location.href ='#'" style="cursor:pointer;">
			  <span class="fa-layers fa-fw" style="background:white">
    				<i class="fas fa-shopping-cart"></i>
    			<span class="fa-layers-counter fa-layers-top-right" id="cartbadge" > 1</span>
  			  </span>
  			   <p id="cart" >장바구니</p>
		
			</li>
		</ul>
	</div>
</nav>

<body>
	

	
	<!-- 컨텐츠 넣으면됨 -->
<div class="jumbotron jumbotron-fluid" id="maincar">
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img th:src="@{img/meal1.jpg}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img th:src="@{img/meal2.jpg}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img th:src="@{img/meal3.jpg}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


</div>

<!-- 전체 컨테이너 끝 -->



  	

	<!-- 컨텐츠 넣으면됨 --><!-- 컨텐츠 넣으면됨 --><!-- 컨텐츠 넣으면됨 --><!-- 컨텐츠 넣으면됨 --><!-- 컨텐츠 넣으면됨 -->


	<!-- footer 배너인데 우선 이렇게 두고 나중에 크기랑 이런거 손보겠습니다. -->
<footer>
		<div class="jumbotron jumbotron-fluid " id="bot1">
			<div class="row">
			<div class="container col-1"></div>
			<div class="container col-2">
			  <img th:src="@{img/KitWhite.png}" />
			  </div>
			<div class="container col-9">
				<div class="row mb-4" style="line-height: 40px;">
      					<div  class="text-center col-2" id="bot2" >
      							<span class="font-weight-bold" style="font-size: 0.8em; color: white;">이용약관</span><br>
						</div>
      					<div  class="text-center col-3" id="bot2" >
      							<span class="font-weight-bold" style="font-size: 0.8em; color: white;">개인정보처리 방침</span><br>
						</div>
      					<div  class="text-center col-2" id="bot2">
      							<span class="font-weight-bold" style="font-size: 0.8em; color: white;">법적고지</span><br>
						</div>
						<div  class="text-center col-3" style="line-height: 10px;">
								<span class="font-weight-bold " style="font-size: 0.8em; color: white;">사업자정보 확인</span><br>
						</div>	
						<div class="container col-2"></div>
      	     	</div>
      	     	<div class="container ml-2 mr-0 mt-3 ">
      	     		<span id="bot3"> Kit.(주)</span>
      	     		<span id="bot3"> 대표이사: 송진우, 홍정호, 김선규</span>
      	     		<span id="bot3"> 사업자등록번호: 103-03-290820</span> <br>
      	     		<span id="bot3"> 주소 : 서울특별시 종로구 종로 69(종로2가) 7층 Kit. </span> 
      	     		<span id="bot3"> 통신판매업신고 중구 제0000호 </span>  <br>
      	     		<span id="bot3"> 이메일: kit@kit.com </span> 
      	     		<span id="bot3"> 호스팅제공자: 비트캠프7층어딘가 </span> <br>
      	     		<span id="bot3"> ⓒKit. CORP. ALL RIGHTS RESERVERD. </span> 
      	     	</div>
			</div>
			
			
			
			</div>
		</div>
	</footer>
<script  >
$('#cartbadge').text('12');

$(window).on('load',function(){
	var result = $('#navtop3').text();

	console.log(result);
	console.log("ss");
	if(result== 'anonymous' ){
		$('#navtop3').val('hi')
		console.log("dd");
	}
	});




</script>

</body>
</html>