/* Google Web Font */
@import
	url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
	padding: 0;
	box-sizing: border-box;
}

.section {
	font-family: 'Raleway', sans-serif;
	display: flex;
	justify-content: center;
	height: 100vh;
	background: white;
}

.td input{
	size : 80;
}