<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.bit.kit.securitymapper.MemberMapper">



	<resultMap id="userList" type="edu.bit.kit.vo.UserVO">
		<result column="user_id" property="userId" />
		<result column="co_number" property="userNumber" />
		<result column="co_password" property="userPassword" />
		<result column="co_name" property="name" />
		<result column="co_phone" property="userPhone" />
		<result column="co_birth" property="userBirth" />
		<result column="co_email" property="userEmail" />
		<result column="co_gender" property="userGender" />
		<result column="co_enabled" property="userEnabled" />
		<result column="co_joindate" property="userJoinDate" />
		<result column="co_logintime" property="userLoginTime" />
		<result column="co_address" property="userAddress" />
		<result column="co_account" property="userAccount" />
		<result column="co_authority" property="authName" />
	</resultMap>

	<select id="getUser" resultMap="userList">
		SELECT *
		FROM HK_USER u ,HK_AUTH a
		WHERE u.user_id = #{userId} and u.user_id = a.user_id
	</select>
	
	<insert id="joinUser">
		INSERT ALL
		INTO HK_USER VALUES(
		#{userId},HK_USER_SEQ.nextval,#{userPassword},
        '홍정호',123-123-123,'asd@asd','210606','남',1,
		sysdate,sysdate,'test1','신한'
		)
		INSERT INTO hk_auth VALUES (
		hk_auth_seq.nextval, 'ROLE_ADMIN' ,1,#{userId})
		SELECT *
		FROM DUAL
	</insert>


</mapper>