<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<taglib prefix="sec" uri="http://www.springframework.org/security/tags">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" th:href=@{css/bootstrap.min.css}>
<link rel="stylesheet" th:href=@{css/style.css}>
<link rel="stylesheet"
	th:href=@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script th:src=@{js/jquery-3.2.1.slim.min.js}></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script th:src=@{popper/popper.min.js}></script>
<script th:src=@{js/bootstrap.min.js}></script>

<title>Kit.</title>

<style type="text/css">
.underline {
	text-decoration: none;
	border-bottom: 2px solid black;
}

.card-text {
	margin: 0;
}

a:link {
	color: black;
	text-decoration: none;
}

p {
	color: black;
}

.payName {
	color: black;
	font-weight: bold;
	text-align: center;
}

.payInfo {
	color: black;
	font-size: x-large;
	font-weight: bold;
	text-align: center;
}

.payInfo1 {
	color: red;
	font-size: x-large;
	font-weight: bold;
	text-align: center;
}

.pay {
	float: none;
	margin: 0 auto;
	text-align: center;
}
</style>

<!-- 상단 로그인 회원가입 바 -->
</head>
<div class="navbar navbar-expand-sm justify-content-end" id="nav1">
	<div class="navbar-nav" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">
			<!--  로그인한 상태라면 이름과, logout 버튼 출력      -->

			<li class="nav-item"
				th:if="${#authorization.expr('isAuthenticated()')}"><a
				class="nav-link" th:text="${#authentication.name}" id="navtop1">사용자</a></li>

			<li class="nav-item"
				th:if="${#authorization.expr('isAuthenticated()')}"><a
				class="nav-link" th:href="@{/logout} " id="navtop1">로그아웃</a></li>

			<!--  로그인한 상태가 아니라면 login 버튼 출력  -->

			<li class="nav-item"
				th:unless="${#authorization.expr('isAuthenticated()')}"><a
				class="nav-link" th:href="@{/signin}" id="navtop1">로그인</a></li>

			<li class="nav-item"
				th:unless="${#authorization.expr('isAuthenticated()')}"><a
				class="nav-link" th:href="@{/signup}" id="navtop1">회원가입</a></li>
		</ul>
	</div>
</div>



<!-- 상단 로고 메뉴 바 -->
<!-- Navigation -->
<nav class="navbar navbar-expand-lg justify-content-center" id="nav2">
	<a class="navbar-brand" th:href="@{index}"><img th:src="@{img/Kit2_size.png}"
		class="d-inline-block align-top" alt=""></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarNav" aria-controls="navbarNav"
		aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav ml-auto" id="ul1">
			<li class="nav-item"><a class="btn1 nav-link" href="">Kit.소개</a></li>
			<li class="nav-item"><a class="btn1 nav-link" th:href="@{/menu}">Kit.메뉴</a></li>
			<li class="nav-item"><a class="btn1 nav-link" href="">리뷰</a></li>
			<li class="nav-item"><a class="btn1 nav-link" th:href="@{event}">이벤트</a></li>
			<li class="nav-item"><a class="btn1 nav-link" th:href="@{mymain}">MyKit.</a></li>
		</ul>
		<ul class="navbar-nav ml-auto mr-5">
			<!-- <li class="nav-item fa-2x" th:onclick="|location.href='@{/cart}'|"
				style="cursor: pointer;"><span class="fa-layers fa-fw"
				style="background: white"> <i class="fas fa-shopping-cart"></i>
					<span class="fa-layers-counter fa-layers-top-right" id="cartbadge">
						1</span>
			</span>
				<p id="cart">장바구니</p></li> -->
		</ul>
	</div>
</nav>

	<!-- 메뉴 : 대제목, 정렬 -->
	<div class="bg-white py-3"></div>
	<div class="container">
		<h1 class="text-left fw-bolder">주문완료</h1>
		<hr class="underline">
	</div>


	<!-- 주문완료 창 -->
	<div class="bg-white py-3"></div>
	<div class="container">

		
			<div>주문이 완료되었습니다.</div>
		
		
	</div>
	






	<div class="bg-white py-5"></div>

	<!-- footer 배너인데 우선 이렇게 두고 나중에 크기랑 이런거 손보겠습니다. -->
<footer>
		<div class="jumbotron jumbotron-fluid " id="bot1">
			<div class="row">
			<div class="container col-1"></div>
			<div class="container col-2">
			  <img th:src="@{img/KitWhite.png}" />
			  </div>
			<div class="container col-9">
				<div class="row mb-4" style="line-height: 40px;">
      					<div  class="text-center col-2" id="bot2" >
      							<span class="font-weight-bold" style="font-size: 0.8em; color: white;">이용약관</span><br>
						</div>
      					<div  class="text-center col-3" id="bot2" >
      							<span class="font-weight-bold" style="font-size: 0.8em; color: white;">개인정보처리 방침</span><br>
						</div>
      					<div  class="text-center col-2" id="bot2">
      							<span class="font-weight-bold" style="font-size: 0.8em; color: white;">법적고지</span><br>
						</div>
						<div  class="text-center col-3" style="line-height: 10px;">
								<span class="font-weight-bold " style="font-size: 0.8em; color: white;">사업자정보 확인</span><br>
						</div>	
						<div class="container col-2"></div>
      	     	</div>
      	     	<div class="container ml-2 mr-0 mt-3 ">
      	     		<span id="bot3"> Kit.(주)</span>
      	     		<span id="bot3"> 대표이사: 송진우, 홍정호, 김선규</span>
      	     		<span id="bot3"> 사업자등록번호: 103-03-290820</span> <br>
      	     		<span id="bot3"> 주소 : 서울특별시 종로구 종로 69(종로2가) 7층 Kit. </span> 
      	     		<span id="bot3"> 통신판매업신고 중구 제0000호 </span>  <br>
      	     		<span id="bot3"> 이메일: kit@kit.com </span> 
      	     		<span id="bot3"> 호스팅제공자: 비트캠프7층어딘가 </span> <br>
      	     		<span id="bot3"> ⓒKit. CORP. ALL RIGHTS RESERVERD. </span> 
      	     	</div>
			</div>
			
			
			
			</div>
		</div>
	</footer>
</body>
</html>