<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{css/style.css}">
<link rel="stylesheet" th:href="@{css/myOrder.css}">
<link rel="stylesheet" th:href="@{css/all.css}">
<link rel="stylesheet" th:href="@{css/bootstrap-select.min.css}">
 

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script th:src="@{js/jquery-3.2.1.slim.min.js}"></script>
<script th:src="@{popper/popper.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{js/all.js}"></script>
<script th:src="@{js/bootstrap-select.min.js}"></script>
<script th:src="@{js/defaults-ko-KR.min.js}"></script>


<title>Kit.</title>

 <script>
     
    </script>

<!-- 상단 로그인 회원가입 바 -->
</head>
<div
		class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-end">
		<div class="navbar-nav" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link" href="#" sec:authentication="name">사용자</a></li>
					<!--  로그인한 상태라면 이름과, logout 버튼 출력      -->
				
				<li class="nav-item" th:if="${#authorization.expr('isAuthenticated()')}">
					<!-- 비회원 페이지 조회시 anonymousUser 안나오게 할때 아래 코드 사용, 단 간격 배치 해야함-->
					<!-- <a class="nav-link" th:text="${#authentication.name}"></a> -->				
					<a class="nav-link" th:href="@{/logout}">Logout</a>
				</li>
				<!--  로그인한 상태가 아니라면 login 버튼 출력  -->
				<li class="nav-item" th:unless="${#authorization.expr('isAuthenticated()')}">
					<a class="nav-link" th:href="@{/login}">Login</a>
				</li>
					<!-- <li class="nav-item"><a class="nav-link" href="#" sec:authorize="isAnonymous()"></a><a th:href="@{/login}">로그인</a></li>
					<li class="nav-item"><a class="nav-link" href="#" sec:authorize="isAuthenticated()"></a><a th:href="@{/logout}">로그아웃</a></li> -->
				<li class="nav-item" th:unless="${#authorization.expr('isAuthenticated()')}">
				 	<a class="nav-link" href="signup">회원가입</a></li>
			</ul>
		</div>
	</div>


<!-- 상단 로고 메뉴 바 -->
	<!-- Navigation -->
	<nav
		class="navbar navbar-expand-lg navbar-light bg-light justify-content-center ">
		<a class="navbar-brand" href="#"><img src="img/Kit2_size.png"
			class="d-inline-block align-top" alt=""></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="btn1 nav-link" href="">Kit.소개</a></li>
				<li class="nav-item"><a class="btn1 nav-link" href="">Kit.메뉴</a></li>
				<li class="nav-item"><a class="btn1 nav-link" href="">리뷰</a></li>
				<li class="nav-item"><a class="btn1 nav-link" href="">이벤트</a></li>
				<li class="nav-item"><a class="btn1 nav-link" href="">MyKit.</a></li>
			</ul>
		</div>
	</nav>

<body>
	

	
	<!-- 컨텐츠 넣으면됨 -->
	<div class="container">
  <div class="row">
	
	
	<div class="col-md-3">
<!-- 사이드 바 메뉴-->
<div class="container">
 <h1 class="text-left font-weight-bold my-4">MyKit</h1>
 </div>
  <!-- 패널 타이틀1 -->
<div class="panel panel-info">
    <!-- 사이드바 메뉴목록1 -->
    <ul class="list-group">
      <li class="list-group-item border-0 mb-0 pb-0"><h5 class= "font-weight-bold ">나의 주문정보</h5></li>
      <li class="list-group-item border-0 py-1"><a href="#">주문/배송 조회</a></li>
      <li class="list-group-item border-0 py-1"><a href="#">배송지 관리</a></li>
      <li class="list-group-item border-0 py-1"><a href="#">환불계좌 관리</a></li>
    </ul>
</div>


  <!-- 패널 타이틀1 -->
<div class="panel panel-info">
    <!-- 사이드바 메뉴목록1 -->
    <ul class="list-group">
      <li class="list-group-item border-0 mt-3 mb-0 pb-0"><h5 class= "font-weight-bold ">나의 혜택</h5></li>
      <li class="list-group-item border-0 py-1"><a href="#">쿠폰</a></li>
      <li class="list-group-item border-0 py-1"><a href="#">포인트</a></li>
    </ul>
</div>


  <!-- 패널 타이틀1 -->
<div class="panel panel-info">
    <!-- 사이드바 메뉴목록1 -->
    <ul class="list-group">
      <li class="list-group-item border-0 mt-3 mb-0 pb-0"><h5 class= "font-weight-bold ">나의 활동</h5></li>
      <li class="list-group-item border-0 py-1"><a href="#">나의 리뷰</a></li>
      <!-- <li class="list-group-item border-0 py-1"><a href="#">쇼핑찜</a></li>
      <li class="list-group-item border-0 py-1"><a href="#">1:1문의</a></li> -->
    </ul>
</div>


  <!-- 패널 타이틀1 -->
<div class="panel panel-info">
    <!-- 사이드바 메뉴목록1 -->
    <ul class="list-group">
      <li class="list-group-item border-0 mt-3 mb-0 pb-0"><h5 class= "font-weight-bold ">나의 정보</h5></li>
      <li class="list-group-item border-0 py-1"><a href="#">개인정보 변경</a></li>
      <li class="list-group-item border-0 py-1"><a href="#">회원탈퇴</a></li>
    </ul>
</div>


</div>



<!-- 9단길이 -->
    <div class="col-md-9">
  
       <div class="bg-white py-3 px-0"></div>
   <div class="container">
      <h1 class="text-left font-weight-bold">회원 탈퇴</h1>
      <hr class="underline ">
  </div>
  
  
   <div class="container ">
   <div class="bg-white py-2 px-0"></div>
   <div class="bg-white py-2 px-0"></div>
   <input type="hidden" id="result"  name="result"  th:value="${result}">
   <p class="font-weight-bold">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     본인 확인을 위해 비밀번호를 입력해주십시오.</p>
   </div>
    
    
<div class="container">
  <div class="col-2"></div>
   <div class="container col-10">  <!-- 입력 폼  -->
     <form th:action="@{passwordChk1}" method="POST" id="comfirm"  onSubmit="return Checkform()" name="frm">
     		<div class="row"> <!-- 비밀번호 입력 -->
     				<div class="col-8">
						<label for="userPassword" class="form-label mt-4 font-weight-bold" style="font-size:0.9em;">비밀번호</label>
						<input type="password" class="form-control" id="password" name="password"
							aria-describedby="nameHelp" placeholder="비밀번호 입력" style="font-size:0.9em;">
					</div>
     				<div class="col-4">
					</div>
     		</div>
     			 
	
				 
				 
				 
     	
     		</form>
    </div>  <!-- 입력 폼  끝 -->
     	
    <div class="underline my-5" style="border-bottom: 1px solid #e6e6e6;"></div>
     	
     <div class="container">
     		<div class="bg-white py-2 px-0"></div>
     			<div class="row">
     				
     				
     			</div>
     			
      </div>
</div>	
    
<div class="bg-white py-2 px-0"></div>    
    
    
<div class=container>
	<div class="row">
		<div class="offset-1 col-4">
			<input type="button" value="취소" class="btn btn-block border px-5 py-3 text-center font-weight-bold" OnClick="location.href ='/mymain'" 
			style="background-color: white; cursor:pointer;">
		</div>
		<div class=" col-4">	
			<button type="submit" form="comfirm" id="goInsert" class="btn btn-block border px-5 py-3 text-center font-weight-bold" 
			 style="background-color: #b8e840; cursor:pointer;" >확인</button>
		</div>
	</div>

</div> 
  <!-- 9단길이 끝-->		
  		
  		
  
  
  
 
  	
  	

  			
  			
  		</div>
    </div>
</div>
<!-- 전체 컨테이너 끝 -->

  	

	<!-- 컨텐츠 넣으면됨 --><!-- 컨텐츠 넣으면됨 --><!-- 컨텐츠 넣으면됨 --><!-- 컨텐츠 넣으면됨 --><!-- 컨텐츠 넣으면됨 -->

<script>


function Checkform() {

	 if( frm.userPassword.value == "" ) {
   	frm.userPassword.focus();
   	alert("비밀번호를 입력해 주십시오.");
   	 return false;
   }
 	
}

$(document).ready(function(){
var result = document.getElementById('result').value;

if(result == 'notEqual'){
	alert('비밀번호가 일치하지 않습니다.');
}
});

</script>

	<!-- footer 배너인데 우선 이렇게 두고 나중에 크기랑 이런거 손보겠습니다. -->
	<footer>
		<div class="jumbotron text-center jumbotron-fluid bg-secondary mt-5">
			<div class="foo_div"></div>
			<img src="img/Kit2_size.png" />
			<div class="foo_div1">
				<span>(주)Kit.</span> <span> | </span> <span>대표 : 선진정형 </span> <span>
					| </span> <span>사업자 등록 번호 : 000-00-0000</span> <span> | </span>
				<p>주소 : 서울 종로구 종로 69 서울YMCA 7층.</p>
				<p>Kit.</p>
				<img src="img/kakaotalk.png">
				<img src="img/google+.png">
				<img src="img/naver.png">
			</div>
		</div>
	</footer>



</body>
</html>